APP_ENV="development"
PUBLIC_APP_URL="http://localhost:4321"
APP_SESSION_NAME=
IMAGE_UPLOADER_API_KEY=
IMAGE_UPLOADER_URL=
MAILER_API_KEY=
MAILER_REGISTER_URL=
MAILER_BOOKING_URL=
MAILER_CONTACT_URL=
MAILER_FORGOT_PASSWORD_URL=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=
EMAIL_ADDRESS=
DOMAIN_AUTHORIZED=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
PUBLIC_MIN_PASSWORD_LENGTH=